<!--<div class="container" data-ng-controller="HeaderController">
	<div class="navbar-header">
		<button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a href="/#!/" class="navbar-brand">siamplant</a>
	</div>
	<nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
		<ul class="nav navbar-nav" data-ng-if="menu.shouldRender(authentication.user);">
			<li data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);" ng-switch="item.menuItemType" ui-route="{{item.uiRoute}}" class="{{item.menuItemClass}}" ng-class="{active: ($uiRoute)}" dropdown="item.menuItemType === 'dropdown'">
				<a ng-switch-when="dropdown" class="dropdown-toggle">
					<span data-ng-bind="item.title"></span>
					<b class="caret"></b>
				</a>
				<ul ng-switch-when="dropdown" class="dropdown-menu">
					<li data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-if="subitem.shouldRender(authentication.user);" ui-route="{{subitem.uiRoute}}" ng-class="{active: $uiRoute}">
						<a href="/#!/{{subitem.link}}" data-ng-bind="subitem.title"></a>
					</li>
				</ul>
				<a ng-switch-default href="/#!/{{item.link}}" data-ng-bind="item.title"></a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
			<li ui-route="/signup" ng-class="{active: $uiRoute}">
				<a href="/#!/signup">Sign Up</a>
			</li>
			<li class="divider-vertical"></li>
			<li ui-route="/signin" ng-class="{active: $uiRoute}">
				<a href="/#!/signin">Sign In</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<span data-ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a href="/#!/settings/profile">Edit Profile</a>
					</li>
					<li>
						<a href="/#!/settings/accounts">Manage Social Accounts</a>
					</li>
					<li data-ng-show="authentication.user.provider === 'local'">
						<a href="/#!/settings/password">Change Password</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="/auth/signout">Signout</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
</div>-->



<div class="header" data-ng-controller="HeaderController">
        <div class="bar">

        <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <a class="logo" ui-sref="home"><img ng-src="modules/core/img/siamplant_logo.png"/></a>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="<?php route('home')?>">หน้าแรก {{test}}<span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">หมวดหมู่ <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">แคคตัส และไม้อวบน้ำ</a></li>
            <li><a href="#">ทิลแอนเซีย</a></li>
            <li><a href="#">กล้วยไม้</a></li>
            <li><a href="#">ต้นไม้อื่นๆ</a></li>
            <li class="divider"></li>
            <li><a href="#">อุปกรณ์</a></li>
            <li><a href="#">วัสดุปลูก</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="ค้นหา">
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right" >
      	<div data-ng-show="authentication.user">
        <li><a href="<?php  route('newitem') ?>"><i class="fa fa-plus fa-lg"></i> ลงประกาศ </a> </li>
        <li><a href="<?php route('cart')?>">ตะกร้า <span class="badge @if(Auth::user()->getcartcount()>0) progress-bar-success @endif"><?php  Auth::user()->getcartcount() ?></span></a></li>
        <li><a href="<?php route('order')?>">ร้าน <span class="badge @if(Auth::user()->getshopcount()>0) progress-bar-success @endif"><?php  Auth::user()->getshopcount() ?></span></a></li>

        <li>

         <span data-ng-bind="authentication.user.displayPicutre"></span>

            <img class="profile-icon" src="" />


          </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
          <span data-ng-bind="authentication.user.displayName"></span>
          <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="<?php  route('useredit',array(Auth::user()->id)) ?>"><span class="glyphicon glyphicon-edit"></span> แก้ไขข้อมูลส่วนตัว</a></li>
            <li><a href="<?php  route('shop',Auth::user()->username ) ?>"><i class="fa fa-coffee"></i> ร้านค้าของคุณ</a></li>
            <li class="divider"></li>
            <li><a href="<?php route('logout')?>">ออกจากระบบ</a></li>
          </ul>
        </li>
    	</div>
      <div class='notauthened' data-ng-hide="authentication.user">
      <a ui-sref="signin" ng-class="{active: $uiRoute}" class='btn btn-info btn-xs' >เข้าสู่ระบบ</a>
    <button onclick="loginFB();" class='btn btn-primary btn-xs' ><i class="fa fa-facebook-square fa-lg"></i> Facebook Signin</button>
    <button onclick='window.location.href="<?php  action('UserController@signup'); ?>"' class="btn btn-success btn-xs"><span class="glyphicon glyphicon-user"></span> สมัครสมาชิก</button>
      </div>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
        </div>
    </div>
